/*
 * Default theme，适用于 core/mweb-base.scss。
 * 取值参考 chrome 默认样式：
 * https://chromium.googlesource.com/chromium/blink/+/refs/heads/main/Source/core/css/html.css
 * 所有 import "core/mweb-base.scss" 的文件都应该同时导入此变量文件。
 */
/* color */
/* font & line */
/* boxing */
/* elememts */
/*
 * 基准样式，相当于 reset.css，使主题在不同平台下有统一的表现。
 * 各个属性的默认值为 chrome 的默认样式，见 variables/default.scss。
 */
/**
 * MWeb 包裹 markdown 的容器是 .omni-content
 * Typora 中是 #write
 */
.omni-content {
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1rem 1rem;
  font-family: PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: black;
  background-color: white;
  /* spacing */
  /* block */
  /* list */
  /* inline */
  /* table */
  /* svg */
}
.omni-content * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.omni-content > *:first-child {
  margin-top: 0 !important;
}
.omni-content > *:last-child {
  margin-top: 0 !important;
}
.omni-content p, .omni-content details, .omni-content dl, .omni-content ol, .omni-content ul, .omni-content pre, .omni-content xmp, .omni-content plaintext, .omni-content listing, .omni-content blockquote, .omni-content table, .omni-content figure, .omni-content hr {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.omni-content h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content p {
  margin-left: 0;
  margin-right: 0;
}
.omni-content pre, .omni-content xmp, .omni-content plaintext, .omni-content listing {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.omni-content blockquote > :first-child {
  margin-top: 0;
}
.omni-content blockquote > :last-child {
  margin-bottom: 0;
}
.omni-content hr {
  border-style: inset;
  border-width: 1px;
}
.omni-content img {
  max-width: 100%;
  height: auto;
}
.omni-content li {
  word-wrap: break-all;
}
.omni-content li + li {
  margin-top: 0.25em;
}
.omni-content ul ul, .omni-content ol ul, .omni-content ul ol, .omni-content ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.omni-content .task-list-item {
  list-style-type: none;
}
.omni-content a {
  color: -webkit-link;
  text-decoration: underline;
}
.omni-content a img {
  border: none;
}
.omni-content b, .omni-content strong {
  font-weight: bold;
}
.omni-content i, .omni-content cite, .omni-content em, .omni-content var, .omni-content address, .omni-content dfn {
  font-style: italic;
}
.omni-content code, .omni-content kbd, .omni-content tt, .omni-content samp {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.omni-content mark {
  padding: 0.2em 0;
  background-color: yellow;
}
.omni-content del, .omni-content s {
  color: inherit;
}
.omni-content table {
  color: black;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
}
.omni-content th, .omni-content td {
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}
.omni-content th {
  padding: 4px 8px;
  font-size: 1em;
  font-weight: bold;
}
.omni-content td {
  padding: 4px 8px;
  font-size: 1em;
  font-weight: normal;
}
.omni-content div[id^=mweb-chart-ele] svg {
  background-color: white;
}

.omni-content {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  padding: 2em;
  word-break: break-word;
  line-height: 1.8;
  font-weight: 400;
  font-size: 16px;
  word-spacing: 2px;
  letter-spacing: 2px;
  overflow-x: hidden;
  color: #3e3e3e;
  background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%);
  background-size: 20px 20px;
  background-position: center center;
  /* 代码块特殊处理 */
}
.omni-content h1,
.omni-content h2,
.omni-content h3,
.omni-content h4,
.omni-content h5,
.omni-content h6 {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 600;
}
.omni-content h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
.omni-content h2 {
  padding-bottom: 12px;
  font-size: 24px;
  border-bottom: 1px solid #ececec;
}
.omni-content h3 {
  font-size: 18px;
  padding-bottom: 0;
}
.omni-content h4 {
  font-size: 1.2em;
  border-bottom: 2px solid rgb(239, 112, 96);
  word-spacing: 0px !important;
  letter-spacing: 0px !important;
  font-size: inherit;
  line-height: inherit;
  display: block;
  font-weight: normal;
  background: rgb(239, 112, 96);
  color: rgb(255, 255, 255);
  padding: 10px 10px 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
}
.omni-content h5 {
  font-size: 15px;
}
.omni-content h6 {
  margin-top: 5px;
}
.omni-content p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
}
.omni-content img {
  max-width: 100%;
}
.omni-content hr {
  border-top: 1px solid #ddd;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 32px;
  margin-bottom: 32px;
}
.omni-content a {
  text-decoration: none;
  color: #0269c8;
  border-bottom: 1px solid #d1e9ff;
}
.omni-content a:hover,
.omni-content a:active {
  color: #275b8c;
}
.omni-content table {
  display: inline-block !important;
  font-size: 12px;
  width: auto;
  max-width: 100%;
  overflow: auto;
  border: solid 1px #f6f6f6;
}
.omni-content thead {
  background: #f6f6f6;
  color: #000;
  text-align: left;
}
.omni-content tr:nth-child(2n) {
  background-color: #fcfcfc;
}
.omni-content th,
.omni-content td {
  padding: 12px 7px;
  line-height: 24px;
}
.omni-content td {
  min-width: 120px;
}
.omni-content blockquote {
  color: #666;
  padding: 1px 23px;
  margin: 22px 0;
  border-left: 4px solid #cbcbcb;
  background-color: #f8f8f8;
}
.omni-content blockquote::after {
  display: block;
  content: "";
}
.omni-content blockquote > p {
  margin: 10px 0;
}
.omni-content ol,
.omni-content ul {
  padding-left: 28px;
}
.omni-content ol li,
.omni-content ul li {
  margin-bottom: 0;
  list-style: inherit;
}
.omni-content ol li .task-list-item,
.omni-content ul li .task-list-item {
  list-style: none;
}
.omni-content .task-list-item ul,
.omni-content .task-list-item ol {
  margin-top: 0;
}
.omni-content ol ul,
.omni-content ol ol,
.omni-content ul ul,
.omni-content ul ol {
  margin-top: 3px;
}
.omni-content ol li {
  padding-left: 6px;
}
@media (max-width: 720px) {
  .omni-content h1 {
    font-size: 24px;
  }
  .omni-content h2 {
    font-size: 20px;
  }
  .omni-content h3 {
    font-size: 18px;
  }
}
.omni-content .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.omni-content code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-break: break-word;
  border-radius: 2px;
  overflow-x: auto;
  background-color: #fff5f5;
  color: #ff502c;
  font-size: 0.87em;
  padding: 0.065em 0.4em;
}
.omni-content .code-section {
  display: flex;
  overflow: auto;
  background-color: #fff5f5;
}
.omni-content .code-section code {
  font-size: 1em;
  line-height: 1.75em;
  color: #ff502c;
  background-color: #fff5f5;
  padding: 0 !important;
  margin: 0 !important;
  text-wrap: nowrap;
  display: block;
}
.omni-content .code-section pre {
  display: block;
  overflow: auto;
  padding: 1em;
  margin: 0;
}
.omni-content .code-section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 1em 0 1em 1em;
  white-space: normal;
  width: fit-content;
}
.omni-content .code-section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 1.75em;
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: #ff502c;
  text-wrap: nowrap;
}
.omni-content .code-section ul > li::marker {
  content: none;
}