/*
 * Default theme，适用于 core/mweb-base.scss。
 * 取值参考 chrome 默认样式：
 * https://chromium.googlesource.com/chromium/blink/+/refs/heads/main/Source/core/css/html.css
 * 所有 import "core/mweb-base.scss" 的文件都应该同时导入此变量文件。
 */
/* color */
/* font & line */
/* boxing */
/* elememts */
/*
 * 基准样式，相当于 reset.css，使主题在不同平台下有统一的表现。
 * 各个属性的默认值为 chrome 的默认样式，见 variables/default.scss。
 */
/**
 * MWeb 包裹 markdown 的容器是 .omni-content
 * Typora 中是 #write
 */
.omni-content {
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1rem 1rem;
  font-family: PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: black;
  background-color: white;
  /* spacing */
  /* block */
  /* list */
  /* inline */
  /* table */
  /* svg */
}
.omni-content * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.omni-content > *:first-child {
  margin-top: 0 !important;
}
.omni-content > *:last-child {
  margin-top: 0 !important;
}
.omni-content p, .omni-content details, .omni-content dl, .omni-content ol, .omni-content ul, .omni-content pre, .omni-content xmp, .omni-content plaintext, .omni-content listing, .omni-content blockquote, .omni-content table, .omni-content figure, .omni-content hr {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.omni-content h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.omni-content p {
  margin-left: 0;
  margin-right: 0;
}
.omni-content pre, .omni-content xmp, .omni-content plaintext, .omni-content listing {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.omni-content blockquote > :first-child {
  margin-top: 0;
}
.omni-content blockquote > :last-child {
  margin-bottom: 0;
}
.omni-content hr {
  border-style: inset;
  border-width: 1px;
}
.omni-content img {
  max-width: 100%;
  height: auto;
}
.omni-content li {
  word-wrap: break-all;
}
.omni-content li + li {
  margin-top: 0.25em;
}
.omni-content ul ul, .omni-content ol ul, .omni-content ul ol, .omni-content ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.omni-content .task-list-item {
  list-style-type: none;
}
.omni-content a {
  color: -webkit-link;
  text-decoration: underline;
}
.omni-content a img {
  border: none;
}
.omni-content b, .omni-content strong {
  font-weight: bold;
}
.omni-content i, .omni-content cite, .omni-content em, .omni-content var, .omni-content address, .omni-content dfn {
  font-style: italic;
}
.omni-content code, .omni-content kbd, .omni-content tt, .omni-content samp {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.omni-content mark {
  padding: 0.2em 0;
  background-color: yellow;
}
.omni-content del, .omni-content s {
  color: inherit;
}
.omni-content table {
  color: black;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
}
.omni-content th, .omni-content td {
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}
.omni-content th {
  padding: 4px 8px;
  font-size: 1em;
  font-weight: bold;
}
.omni-content td {
  padding: 4px 8px;
  font-size: 1em;
  font-weight: normal;
}
.omni-content div[id^=mweb-chart-ele] svg {
  background-color: white;
}

.omni-content {
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #595959;
  font-size: 16px;
  line-height: 1.8em;
  background-image: linear-gradient(90deg, rgba(60, 10, 30, 0.05) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, 0.05) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
  word-break: break-all;
  /* 主题自定义 */
  /* 主题自定义 end */
  /* 布局，一般不需要改动 */
  /* 代码块特殊处理 */
  /* 布局 end */
}
.omni-content blockquote {
  margin-left: 0;
  background-color: #ebf4ff;
  border-color: #7f9cf5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #667eea;
}
.omni-content strong {
  color: #5a67d8;
}
.omni-content a {
  border-color: #667eea;
}
.omni-content blockquote,
.omni-content details,
.omni-content dl,
.omni-content ol,
.omni-content p,
.omni-content pre,
.omni-content table,
.omni-content ul {
  margin-bottom: 1rem;
}
.omni-content ol {
  list-style: decimal;
}
.omni-content ul {
  list-style: disc;
}
.omni-content ol,
.omni-content ul {
  padding-left: 2em;
}
.omni-content h1,
.omni-content h2 {
  border-color: #5a67d8;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  font-weight: 600;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
}
.omni-content h1,
.omni-content h2 {
  border-bottom: 1px solid #eaecef !important;
  border-left-width: 6px;
}
.omni-content h1,
.omni-content h2,
.omni-content h3,
.omni-content h4,
.omni-content h5,
.omni-content h6 {
  margin-bottom: 16px;
  line-height: 1.25;
}
.omni-content blockquote {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 0.25em solid;
}
.omni-content blockquote > :last-child {
  margin-bottom: 0;
}
.omni-content blockquote > :first-child {
  margin-top: 0;
}
.omni-content strong {
  font-weight: bold;
}
.omni-content strong::before {
  content: "「";
}
.omni-content strong::after {
  content: "」";
}
.omni-content a {
  text-decoration: none;
  border-bottom: 1px solid;
}
.omni-content .footnote-ref {
  border-width: 0px;
}
.omni-content picture img {
  border-radius: 6px;
  display: block;
  margin: 10px auto;
  -o-object-fit: contain;
  object-fit: contain;
  box-shadow: 2px 4px 7px #999;
}
.omni-content img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 2px 4px 7px #999;
}
.omni-content picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
}
.omni-content .svg-markmap-box {
  min-height: 20rem;
  width: 100%;
}
.omni-content .footnotes {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.omni-content .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.omni-content code,
.omni-content a {
  color: #5a67d8;
}
.omni-content a {
  border-color: #667eea;
}
.omni-content code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: #ebf4ff;
}
.omni-content .code-section {
  display: flex;
  border: solid 1px #5a67d8;
  background-color: #ebf4ff;
}
.omni-content .code-section pre {
  display: block;
  overflow-x: auto;
  padding: 0.9em;
  line-height: 1.5em;
  font-size: 1em;
  margin: 0;
}
.omni-content .code-section code {
  font-size: 1em;
  line-height: 1.6em;
  text-wrap: nowrap;
  padding: 0 !important;
  margin: 0 !important;
  display: block;
  background-color: #ebf4ff;
}
.omni-content .code-section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.omni-content .code-section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 1em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  padding: 0;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.25);
  text-wrap: nowrap;
}
.omni-content .code-section ul > li::marker {
  content: none;
}