<!--
手工川 AI 时代生存指南 文章模板 v5 - 社群版本
专为微信公众号优化，采用 Bento Grid 风格，集成社群和线下活动信息。
请根据需要修改变量，用您的实际内容替换。
头部变量说明：
- {{seriesName}}: 系列名称（如：工程系列、产品系列、创业系列）
- {{episodeNum}}: 期数（如：第1期、第2期）
- {{articleTitle}}: 文章标题
- {{articleSubtitle}}: 文章副标题或简述
- {{author}}: 作者名称，如：手工川
- {{publishDate}}: 发布日期，如：2025.05.05
- {{coverImage}}: 封面图片URL（可选）
-->


<section>
    <section><br></section>
    <section nodeleaf="" data-pm-slice="0 0 []"
        style="-webkit-tap-highlight-color: transparent;outline: 0px;font-family: &quot;PingFang SC&quot;, system-ui, -apple-system, &quot;system-ui&quot;, &quot;Helvetica Neue&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);text-align: center;visibility: visible;">
        <img alt="Image" class="rich_pages wxw-img"
            data-croporisrc="https://mmbiz.qpic.cn/sz_mmbiz_png/b8C4TKPfHYFVaicCyYjFk6j4Hw2JsazvnOrqcFGvxesEJDc58fwQsxZ1amzLlibz5FPpY8nLReYicbsribq4ZZEaEQ/0?wxfrom=12&tp=wxpic&usePicPrefetch=1&wx_fmt=png&from=appmsg&watermark=1"
            data-cropselx2="578" data-cropsely2="172" data-imgfileid="100004322" data-ratio="0.29814814814814816"
            data-s="300,640"
            src="https://mmbiz.qpic.cn/sz_mmbiz_png/b8C4TKPfHYFVaicCyYjFk6j4Hw2JsazvnOrqcFGvxesEJDc58fwQsxZ1amzLlibz5FPpY8nLReYicbsribq4ZZEaEQ/0?wxfrom=12&tp=wxpic&usePicPrefetch=1&wx_fmt=png&from=appmsg&watermark=1"
            data-type="png" data-w="1080"
            style="letter-spacing: 0.544px;-webkit-tap-highlight-color: transparent;outline: 0px;visibility: visible !important;width: 677px !important;"
            data-imgqrcoded="1">
    </section>
    <p class="js_darkmode__0"
        style="-webkit-tap-highlight-color: transparent;margin-top: 24px;margin-bottom: 0px;outline: 0px;background-color: rgb(255, 255, 255);font-size: 10.5pt;font-family: DengXian;caret-color: rgb(0, 0, 0);color: rgb(0, 0, 0);letter-spacing: normal;text-align: right;visibility: visible;line-height: 1.5em;">
        <o:p
            style="-webkit-tap-highlight-color: transparent;outline: 0px;font-family: system-ui, -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;visibility: visible;">
            <o:p
                style="-webkit-tap-highlight-color: transparent;outline: 0px;font-family: system-ui, -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;font-size: 17px;text-indent: 0em;visibility: visible;">
                <o:p
                    style="-webkit-tap-highlight-color: transparent;outline: 0px;text-indent: 0em;visibility: visible;">
                    <o:p style="-webkit-tap-highlight-color: transparent;outline: 0px;visibility: visible;">
                        <o:p style="-webkit-tap-highlight-color: transparent;outline: 0px;visibility: visible;"><span
                                style="font-family: -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;caret-color: rgb(34, 34, 34);line-height: 29.75px;color: rgb(255, 255, 255);background-color: rgb(217, 33, 66);font-size: 15px;-webkit-tap-highlight-color: transparent;outline: 0px;visibility: visible;"><br
                                    style="-webkit-tap-highlight-color: transparent;outline: 0px;visibility: visible;"></span>
                        </o:p>
                    </o:p>
                </o:p>
            </o:p>
        </o:p>
    </p>

    {{! We need to handle the first and last items specially to add brackets }}
    {{#epigraph}}
    <p class="js_darkmode__1"
        style="
        -webkit-tap-highlight-color: transparent;
        margin-top: 10px;
        margin-bottom: 0px;
        outline: 0px;background-color: rgb(255, 255, 255);font-size: 10.5pt;font-family: DengXian;caret-color: rgb(0, 0, 0);color: rgb(0, 0, 0);letter-spacing: normal;text-align: right;visibility: visible;line-height: 1.5em;">
        <o:p
            style="-webkit-tap-highlight-color: transparent;outline: 0px;font-family: system-ui, -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;font-size: 17px;text-indent: 0em;visibility: visible;">
            <o:p style="-webkit-tap-highlight-color: transparent;outline: 0px;text-indent: 0em;visibility: visible;">
                <o:p style="-webkit-tap-highlight-color: transparent;outline: 0px;visibility: visible;">
                    <span style="font-family: -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;caret-color: rgb(34, 34, 34);line-height: 29.75px;color: rgb(255, 255, 255);font-size: 15px;-webkit-tap-highlight-color: transparent;outline: 0px;background-color: rgb(0, 0, 0);visibility: visible;
                                padding-left:4px;
                                padding-right:4px;
                        ">{{this}}</span>
                </o:p>
            </o:p>
        </o:p>
    </p>
    {{/epigraph}}

    <p class="js_darkmode__11"
        style="-webkit-tap-highlight-color: transparent;margin-bottom: 0px;outline: 0px;letter-spacing: 0.544px;text-indent: 0em;background-color: rgb(255, 255, 255);caret-color: rgb(34, 34, 34);color: rgb(34, 34, 34);font-family: -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: right;visibility: visible;line-height: 1.5em;">
        <br>
    </p>
    <p class="js_darkmode__11"
        style="-webkit-tap-highlight-color: transparent;margin-bottom: 0px;outline: 0px;letter-spacing: 0.544px;text-indent: 0em;background-color: rgb(255, 255, 255);caret-color: rgb(34, 34, 34);color: rgb(34, 34, 34);font-family: -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: right;visibility: visible;line-height: 1.5em;">
        <span
            style="-webkit-tap-highlight-color: transparent;outline: 0px;line-height: 29.75px;color: rgb(136, 136, 136);letter-spacing: normal;visibility: visible;font-size: 15px;">作者：安亭吴彦祖</span>
    </p>
    
    <hr
        style="border-style: solid;border-width: 1px 0 0;border-color: rgba(0,0,0,0.1);-webkit-transform-origin: 0 0;-webkit-transform: scale(1, 0.5);transform-origin: 0 0;transform: scale(1, 0.5);">
    
    <p class="js_darkmode__11"
        style="-webkit-tap-highlight-color: transparent;margin-bottom: 0px;outline: 0px;letter-spacing: 0.544px;text-indent: 0em;background-color: rgb(255, 255, 255);caret-color: rgb(34, 34, 34);color: rgb(34, 34, 34);font-family: -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: right;visibility: visible;line-height: 1.5em;">
        <span
            style="-webkit-tap-highlight-color: transparent;outline: 0px;line-height: 29.75px;color: rgb(136, 136, 136);letter-spacing: normal;visibility: visible;font-size: 12px;"></span>
    </p>

    {{content}}

    <p class="js_darkmode__11"
        style="-webkit-tap-highlight-color: transparent; margin-bottom: 0px; outline: 0px; text-indent: 0em; background-color: rgb(255, 255, 255); caret-color: rgb(34, 34, 34); font-family: -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; text-align: right; visibility: visible; line-height: 1.5em;">
        <font color="#888888"><span style="font-size: 12px; letter-spacing: normal;"><br></span></font>
    </p>
    <hr
        style="border-style: solid;border-width: 1px 0 0;border-color: rgba(0,0,0,0.9);-webkit-transform-origin: 0 0;-webkit-transform: scale(1, 0.5);transform-origin: 0 0;transform: scale(1, 0.5);">
    <p class="js_darkmode__11"
        style="-webkit-tap-highlight-color: transparent;margin-bottom: 0px;outline: 0px;letter-spacing: 0.544px;text-indent: 0em;background-color: rgb(255, 255, 255);caret-color: rgb(34, 34, 34);color: rgb(34, 34, 34);font-family: -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;visibility: visible;line-height: 1.5em;">
        <span style="color: rgb(178, 178, 178);font-size: 14px;"><span leaf="">感谢您的阅读,正文结束</span></span></p>
    <p class="js_darkmode__11"
        style="-webkit-tap-highlight-color: transparent;margin: 0px;padding: 0px;outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;clear: both;min-height: 1em;font-size: 17px;font-style: normal;font-variant-ligatures: normal;font-variant-caps: normal;font-weight: 400;letter-spacing: 0.544px;orphans: 2;text-indent: 0em;text-transform: none;widows: 2;word-spacing: 0px;-webkit-text-stroke-width: 0px;white-space: normal;text-decoration-thickness: initial;text-decoration-style: initial;text-decoration-color: initial;background-color: rgb(255, 255, 255);caret-color: rgb(34, 34, 34);color: rgb(34, 34, 34);font-family: -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;visibility: visible;line-height: 1.5em;"
        data-pm-slice="0 0 []"><span
            style="-webkit-tap-highlight-color: transparent;margin: 0px;padding: 0px;outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;color: rgb(178, 178, 178);font-size: 14px;"><span
                leaf=""
                style="-webkit-tap-highlight-color: transparent;margin: 0px;padding: 0px;outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">若您有好的建议或寻求合作，联系verysolecd@hotmail.com</span></span></p>

    <p class="js_darkmode__11"
        style="-webkit-tap-highlight-color: transparent;margin: 0px;padding: 0px;outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;clear: both;min-height: 1em;font-size: 17px;font-style: normal;font-variant-ligatures: normal;font-variant-caps: normal;font-weight: 400;letter-spacing: 0.544px;orphans: 2;text-indent: 0em;text-transform: none;widows: 2;word-spacing: 0px;-webkit-text-stroke-width: 0px;white-space: normal;text-decoration-thickness: initial;text-decoration-style: initial;text-decoration-color: initial;background-color: rgb(255, 255, 255);caret-color: rgb(34, 34, 34);color: rgb(34, 34, 34);font-family: -apple-system, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;text-align: center;visibility: visible;line-height: 1.5em;">
        <span
            style="-webkit-tap-highlight-color: transparent;margin: 0px;padding: 0px;outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;color: rgb(178, 178, 178);font-size: 14px;"><span
                leaf=""
                style="-webkit-tap-highlight-color: transparent;margin: 0px;padding: 0px;outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">欢迎戳我交流！</span></span>
    </p>
   
    <section
        style="-webkit-tap-highlight-color: transparent;outline: 0px;font-family: &quot;PingFang SC&quot;, system-ui, -apple-system, &quot;system-ui&quot;, &quot;Helvetica Neue&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);">
        <br>
    </section>    

    <section class="mp_profile_iframe_wrp custom_select_card_wrp" nodeleaf=""><mp-common-profile class="mpprofile js_uneditable custom_select_card mp_profile_iframe ProseMirror-selectednode" data-pluginname="mpprofile" data-nickname="键盘造车手" data-alias="keyboardcarmaker" data-headimg="http://mmbiz.qpic.cn/sz_mmbiz_png/b8C4TKPfHYGn087vIv02lPgxHypbhGGAUicMk1AkusJLpibLB6ia8foPGHc192WRg6b5WWO7A0E8Ricib2KAch3mq5A/0?wx_fmt=png" data-signature="合作联系:verysolecd@hotmail.com" data-id="MzU5MTk1MDUwNg==" data-service_type="1" data-is-selected="1" draggable="true"></mp-common-profile><br class="ProseMirror-trailingBreak"></section>
    <hr
        style="border-style: solid;border-width: 1px 0 0;border-color: rgba(0,0,0,0.1);-webkit-transform-origin: 0 0;-webkit-transform: scale(1, 0.5);transform-origin: 0 0;transform: scale(1, 0.5);">
    <p><br></p>

</section>